<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/web/webLayout.html}" >
    <head>
 	<title>Home</title>
    </head>
	<body>
	<div class="col-lg-8" layout:fragment="content">
		<div class="row">
			<div style="height:30px"></div>
			<th:block th:each="model, iState:${model.listResult}">
				<div class="col-lg-6">
					<!-- Blog post-->
					<div class="card mb-4"  style="height:500px">
						<a href="#!"><img class="card-img-top" th:src="@{'/images/'+${model.thumbnail}}" alt="..." height="260px"/></a>
						<div class="card-body" style="height:230px">
							<div class="small text-muted" th:text="${#dates.format(model.createdDate,'dd-MM-yyyy, hh:mm')}">

							</div>
							<a th:href="@{'/baiviet/'+${model.id}}" style="text-decoration: none;"/>
							<h2 class="card-title h4">[[${model.title}]]</h2>
							</a>
							<p class="card-text">[[${model.shortDescription}]]</p>
							<!-- <a class="btn btn-primary" href="#!">Read more →</a> -->
						</div>
					</div>
				</div>
			</th:block>
			<th:block if="${category}">
				<input type="hidden" name="category" id="category" th:value="${category}"/>
			</th:block>
		</div>
		<div class="row">
			<input type="hidden" name="totalPage" id="totalPage" th:value="${model.totalPage}"/>
			<!-- Pagination -->
			<form th:action="@{/home}" name="formLoadMore" id="loadMore" style="width:20%">
				<input type="text" name="page" id="page" th:value="${model.page}"/>
				<input type="submit" value="Submit" id="submitButLoadMore" />
			</form>
		</div>
	</div>
</body>
</html>

<script>
var page=0;
var totalPage=0;
$("#loadMore").submit(function (e) {
page=$("#page").val();
totalPage=$("#totalPage").val();
if(page>=totalPage-1)
{
	$("#submitButLoadMore").prop('disabled', true);
	alert("lastPage");
}else{
	page++;
	$("#page").val(page);
}
});
</script>
