<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/Shared/_Layout.html}" >
    <head>
    </head>
    <body>
        <h1>In the TestNewLay.html</h1>
        <div class="col-lg-8" layout:fragment="content" id="content">
            <p>ABC</p>

        </div>
    </body>
</html>


<script>
var page=0;
$("#appendBut").click(function(){

    if(cateCode===""){
    page++;
    LoadDs(page);
    }else{
    pageCate++;
    LoadDsByCategory(pageCate, cateCode);
    }
});
$(document).ready(function () {
LoadDs(page);
<!--        $.ajax({-->
<!--            url: '/api/new/page?page=0',-->
<!--            type: 'GET',-->
<!--            success: function (data) {-->
<!--                console.log(data);-->
<!--            },-->
<!--            error: function () {-->
<!--                alert("Error");-->
<!--            }-->
<!--        });-->
})

 function LoadDs(page){
  $.ajax({
    url: '/api/new/page?page='+page,
    type: 'GET',
    success: function (data) {
    var str="";
    str+='<div class="row">';
    str+='<div style="height:30px"></div>';
    $.each(data.content, function(i, item){
        str+='<div class="col-lg-6">';
            str+='<div class="card mb-4"  style="height:500px">';
            str+='<a href="#!"><img class="card-img-top" src="/images/'+item.thumbnail+'" alt="'+item.id+'" height="260px"/></a>';
            str+='<div class="card-body" style="height:230px">';
                str+='<div class="small text-muted">'+item.createdDate+'</div>';
                str+='<a href="/baiviet/'+item.id+' "style="text-decoration: none;" class="nameNew" id="'+item.id+'">';
                    str+='<h2 class="card-title h4">'+item.title+'</h2>';
                str+='</a>';
                str+='<p class="card-text">'+item.shortDescription+'</p>';
                str+='</div>';
            str+='</div>';
        str+='</div>';
    });
    str+='</div>';
<!--    console.log(data);-->
    $("#content").append(str);

     },
    error: function () {
       alert("Error");
    }
    });
}

function addEventWhenClickTitle()
{
//Add event when click to title of news will show newDetail
    $(".nameNew").click(function(e){
      e.preventDefault();
      var url='/api/new/';
      url+=$(this).attr("id");
      console.log(url);
      var strNew="";
          $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    strNew+='<article>';
                        strNew+='<header class="mb-4">';
                            strNew+='<h1 class="fw-bolder mb-1">'+data.title+'</h1>';
                            strNew+='<div class="text-muted fst-italic mb-2">'+data.createdDate+'</div>';
                            strNew+='<a class="badge bg-secondary text-decoration-none link-light" href="/category/'+data.categoryCode+'">'+data.categoryCode+'</a>';
                        strNew+='</header>';
                        strNew+=' <figure class="mb-4"><img class="img-fluid rounded" src="/images/'+data.thumbnail+' "alt="..." /></figure>';
                        strNew+='<section class="mb-5">';
                            strNew+='<p class="fs-5 mb-4">'+data.content+'</p>';
                        strNew+=' </section> ';
                    strNew+='</article>';
                    $("#content").html(strNew);
                },
                error: function () {
                    alert("Error");
                }
          });
    });

}
</script>
