<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="/Shared/Header::web_header"></th:block>
</head>
<body>
<nav th:replace="/Shared/NavBar :: navbar"></nav>
<!-- Page header with logo and tagline-->

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8" layout:fragment="content">

        </div>
        <!-- Side widgets-->
        <div th:replace="/Shared/RightMenu :: rightmenu" ></div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <button id="appendBut">Append</button>
        </div>
    </div>
</div>

<div th:replace="/Shared/Footer :: footer" ></div>
</body>
</html>