<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="/Shared/WorldHeader::world_header"></th:block>
</head>
<body>
<th:block th:replace="/Shared/WorldNavBar::world_navbar"></th:block>

<div class="main-content-wrapper section-padding-100" >
    <div class="container">
    <th:block layout:fragment="content">

    </th:block>
        <!-- Load More btn -->
        <div class="row">
            <div class="col-12">
                <div class="load-more-btn mt-50 text-center">
                    <a href="#" class="btn world-btn" id="appendBut">Load More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="/Shared/WorldFooter::world_footer"></th:block>
</body>
</html>