<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul sec:authorize="isAuthenticated()" class="navbar-nav ms-auto mb-2 mb-lg-0"><!-- sec:authorize="isAuthenticated()" -->
                <li class="nav-item"><a class="nav-link" href="#">Welcome: <span sec:authentication="name">Username</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Blog</a></li>
                <li class="nav-item"><a class="nav-link"  th:href="@{/logout}">Logout</a></li>
            </ul>
            <ul sec:authorize="isAnonymous()"class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/login}">Đăng nhập</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/register}">Đăng ký</a></li>
            </ul>
        </div>
    </div>
</nav>
</html>