<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <div th:fragment="rightmenu" class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4">
            <div class="card-header">Search</div>
            <div class="card-body">
                <div class="input-group">
                    <form th:action="@{/search}" style="width:80%">
                        <input class="form-control" type="text" name="keyword" placeholder="Tên bài viết..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <br />
                        <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Categories widget-->
        <div class="card mb-4">
            <div class="card-header">Categories</div>
            <div class="card-body">
                <div class="row">
                        <div class="col-sm-6" >
                            <ul class="list-unstyled mb-0" id="containerCategory">

                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header">Side Widget</div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
        </div>
        <script>
var pageCate=0;
var cateCode="";
$(document).ready(function ()
{
        var str="";
        $.ajax({
            url: '/api/category',
            type: 'GET',
            success: function (data) {
                console.log(data);
                $.each(data, function(i, item){
                str+='<li><a href="/category/'+item.code+'" style="text-decoration: none;" class="cateTag" id="'+item.code+'">'+item.name+'</a></li>';
                });
                $("#containerCategory").html(str);

                addClickEventForCategoryTag();
            },
            error: function () {
                alert("Error");
            }
        });
})

function addClickEventForCategoryTag(){
                $(".cateTag").click(function(e){
                e.preventDefault();
                $("#content").html("");
                pageCate=0;
                cateCode=$(this).attr("id");
<!--                let url='/api/new/cate?page=0';-->
<!--                url+='cateCode=';-->
<!--                url+=cateCode;-->
                LoadDsByCategory(pageCate, cateCode);
                });//end Click to a link tag category
}


 function LoadDsByCategory(page=0, cateCode=""){
   let url='/api/new/page?page=';
   url+=page;
   url+='&&cateCode=';
   url+=cateCode;
  $.ajax({
    url: url,
    type: 'GET',
    success: function (data) {
    var str="";
    str+='<div class="row">';
    str+='<div style="height:30px"></div>';
    $.each(data.content, function(i, item){
        str+='<div class="col-lg-6">';
            str+='<div class="card mb-4"  style="height:500px">';
            str+='<a href="#!"><img class="card-img-top" src="/images/'+item.thumbnail+'" alt="'+item.id+'" height="260px"/></a>';
            str+='<div class="card-body" style="height:230px">';
                str+='<div class="small text-muted">'+item.createdDate+'</div>';
                str+='<a href="/baiviet/'+item.id+' "style="text-decoration: none;" class="nameNew" id="'+item.id+'">';
                    str+='<h2 class="card-title h4">'+item.title+'</h2>';
                str+='</a>';
                str+='<p class="card-text">'+item.shortDescription+'</p>';
                str+='</div>';
            str+='</div>';
        str+='</div>';
    });
    str+='</div>';
    $("#content").append(str);

     },
    error: function () {
       alert("Error");
    }
    });
}

</script>
    </div>
</html>
