<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:fragment="world_header">
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title  -->
  <title>World - Blog &amp; Magazine Template</title>

  <!-- Favicon  -->
  <link rel="icon" th:href="@{/global/World/img/core-img/favicon.ico}">

  <!-- Style CSS -->
  <link rel="stylesheet" th:href="@{/global/World/style.css}">
  <script th:src="@{/global/World/js/jquery/jquery-2.2.4.min.js}"></script>
  </th:block>
</head>
<body>

</body>
</html>